* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Assistant';
    text-align: right;
    direction: rtl;
}

.mid {
    width: 900px;
    height: 100%;
    align-content: center;
    margin: auto;
    position: relative;
}

header {
    background-image: url(images/header_bg.png);
    color: white;
    width: 100%;
    height: 105px;
    z-index: 100;
    margin: 0px;
}

a.logo {
    display: block;
    width: 142px;
    height: 93px;
    position: absolute;
    bottom: -20px;
    right: -8px;
    background: url(images/paz_logo.png) no-repeat 0 0;
}

nav {
    text-align: center;
    padding: 10px 10px 10px 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.navitem {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 100%;
    text-align: center;
    position: relative;
}

.navitem:hover {
    opacity: 0.5;
}

.homepic {
    position: absolute;
    bottom: -14px;
    right: -12px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav>ul {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
}

.flexsonrow {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

main {
    margin: 30px 0px 60px 0px;
}

.picb {
    height: 355px;
}

.picdesc {
    color: white;
    border-bottom-right-radius: 25px;
    padding: 10px;
    margin: 216px 10px auto auto;
    background-color: rgba(0, 0, 0, 0.5);
    width: 228px;
    height: 125px;
}

.picdesc>h3 {
    font-size: 15px;
}

.picdesc>p, .picdesc>a>p {
    font-size: 13px;
}

.readmore {
    text-align: left;
}

.readmore:hover {
    color: lightblue;
}

.pic1 {
    width: 293px;
    border-bottom-right-radius: 25px;
    background: url(images/1908364606615453350.jpg) no-repeat 0 0;
}

.pic2 {
    width: 293px;
    border-bottom-right-radius: 25px;
    background: url(images/Picture-046410251500.jpg) no-repeat 0 0;
}

.pic3 {
    width: 293px;
    border-bottom-right-radius: 25px;
    background: url(images/291_354410564000.jpg) no-repeat 0 0;
}

.picc {
    height: 216px;
    background: url(images/small_cube_bg.png) repeat-x 0 0;
}

.pic4, .pic5, .pic6 {
    width: 293px;
    border-top-right-radius: 25px;
}

.secondrowdesc {
    color: rgb(87, 87, 87);
    padding: 10px;
    margin: 216px 10px auto auto;
    position: relative;
}

.secondrowdesc>h3 {
    font-size: 15px;
    position: absolute;
    top: -208px;
    right: 16px;
}
.more:hover {
    color: blue;
}

/*small pic*/

.secondrowdesc>div {
    position: absolute;
    top: -165px;
    right: 12px;
}

/*map*/

.secondrowdesc>span {
    position: absolute;
    top: -176px;
    right: 190px;
}

.secondrowdesc>div.area {
    position: absolute;
    top: -165px;
    right: 17px;
}

/* more details*/

.secondrowdesc>a>p.more {
    font-size:14px;
    position: absolute;
    top: -37px;
    right: 173px;
}

.readmore2 {
    font-size: 13px;
    text-align: right;
}

.readmore2:hover {
    color: blue;
}

/*footer items*/

footer {
    position: fixed;
    background: url(images/footer_bg.png) repeat-x 0 0;
    color: white;
    width: 100%;
    height: 38px;
    position: fixed;
    z-index: 999999;
    bottom: 0px;
}

.fnavitem {
    display: inline-block;
    color: #fff;
    font-size: 13px;
    height: 100%;
    text-align: center;
    letter-spacing: 1px;
}

.fb {
    position: relative;
    bottom: -4px;
    width: 18px;
    height: 18px;
    background: url(images/fb_icon.png) no-repeat 0 0;
}

.pshara {
    color: red !important;
}

.clearfix::after {
    clear: both;
}